.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-light);
}

.layout main {
  flex: 1;
}

.layout .main-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media (min-width: 640px) {
  .layout .main-content {
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .layout .main-content {
    padding: 2rem;
  }
}
